.avatar-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* TODO: implement styling for social links on homepage */
.social {
    display: block;
}

.social-list {
    display: block;
}

.social-link {
    display: block;
}